#login_info{
  color: #f8981c;
  margin: 10px;
  font-size: 20;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 82vh;
}

.bug_box{
  margin-top: 2vh;
  height: 80vh;
  width: 60vw;
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #202020;
  border-radius: 10px;
  flex-direction: column;
}

.bug_status{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  width: inherit;
  color: #f8981c;
  font-size: 20px;
  border-bottom: 4px solid #202020;
}

.problem_and_solution_box{
  min-height: 72vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bug_fields{
  width: 40vw;
  min-height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bug_field{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 32vw;
  min-height: 4vh;
  background-color: #000;
  color: #f8981c;
  text-align: center;
  border: 4px solid #202020;
  border-radius: 4vh;
}

.ne_pridumal{
  text-align: center;
  color: #f8981c;
}

#bug_description{
  min-height: 40vh;
  resize: none;
}

.solutions_box{
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.solution{
  margin: 1vh;
  min-height: 6vh;
  width: 60vw;
  background-color: #151515;
  border: 4px solid #202020;
  border-radius: 10px;
}

.solution_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solution_info_box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.solution_title{
  font-size: 3vh;
  color: #39ff14;
}

.solution_buttons_box{
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.solution_buttons{
  height: 20px;
  width: 20px;
  border-radius: 20px;
  font-size: 0px;
}

#solution_button_edit{
  background: url("edit.png") no-repeat center left;
  background-size: 20px 20px;
}

#solution_button_delete{
  background: url("delete.png") no-repeat center left;
  background-size: 20px 20px;
}

#solution_button_choosed{
  background: url("access.png") no-repeat center left;
  background-size: 20px 20px;
}

.solution_field{
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: none;
  color: #f8981c;
  text-align: center;
  outline: none;
  border: none;
}

.solution_body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.solution_text{
  width: 50vw;
  resize: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: none;
  color: #f8981c;
  text-align: center;
  outline: none;
  border: none;
}

.bug_button{
  position: fixed;
  left: 40px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 0px;
}

#post{
  top: 60vh;
  background: url("post.png") no-repeat center left;
  background-size: 50px 50px;
}

#edit{
  top: 70vh;
  background: url("edit.png") no-repeat center left;
  background-size: 50px 50px;
}

#delete{
  top: 80vh;
  background: url("delete.png") no-repeat center left;
  background-size: 50px 50px;
}

.my_solution_box{
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my_solution{
  height: inherit;
  background: none;
  resize: inherit;
  color: #f8981c;
  text-align: center;
}

.bug_or_ficha{
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: #f8981c;
}

.send_button{
  margin-left: 2vw;
  border-radius: 25px;
  font-size: 0px;
  width: 25px;
  height: 25px;
  background: url("send.png") no-repeat center left;
  background-size: 25px 25px;
}
