header{
  width: 100%;
  height: 10%;
}

.header_container{
  width: inherit;
  background-color: #151515;
}

.proj_title{
  color: #f8981c;
  height: 4vh;
  margin-right: 5vw;
  font-size: 3vh;
}

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #202020;
}

#login_info{
  color: #f8981c;
  margin: 10px;
  font-size: 20;
}

.switch{
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#switch_ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.switch_element{
  margin-left: 20px;
  padding: 6px 15px;
  border-radius: 5px;
  background: none;
}

#choosed{
  color: #151515;
  background-color: #f8981c;
}

#unchoosed{
  background: #151515;
  color: #f8981c;
}

.on_page{
  position: absolute;
  top: 9vh;
  left: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.on_page_elem{
  margin: 5px;
  color: #000;
}

.on_page_elem_b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 5px;
  color: #000;
  background-color: #f8981c;
  border: none;
  border-radius: 5px;
}

#choosed_ope{
  border: 2px solid silver;
}

#create_button{
  position: fixed;
  left: 10px;
  top: 80vh;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: url("plus.png") no-repeat center left;
  background-size: 50px 50px;
}

#invite_button{
  position: fixed;
  left: 10px;
  top: 70vh;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: url("invite.png") no-repeat center left;
  background-size: 50px 50px;
}

.container{
  margin: 5px;
  margin-left: 50px;
  width: 100 vw;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.sub_container{
  width: 150px;
  height: 150px;
  background-color: #151515;
  border: 5px solid;
  border-color: #202020;
  border-radius: 10px;
  display: flex;
  align-items:center;
  justify-content: center;
  color: #f8981c;
  cursor: pointer;
}

.container .sub_container .description .element{
  margin: 5px;
}

.change_page{
  position: fixed;
  top: 85vh;
  left: 45.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#page_number{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  color: #f8981c;
}

#prev{
  width: 3vw;
}

#next{
  width: 3vw;
}