html{
  background-color: #000000;
}

*{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #202020;
  min-height: 7vh;
  background-color: #151515;
  color: #fff;
}

#git_logo{
  border: solid 3px #f8981c;
  border-radius: 25px;
}
